html,
body {
  font-family: 'Source Code Pro', monospace;
}

header {
    margin-bottom: 1em;
}

a {
  text-decoration: underline;
}

.tag a, .navbar a {
  text-decoration: none;
}

img {
  opacity: 0.9;
}

img:hover {
  opacity: 1;
}

.blog-post img {
    display: block;
    max-width: 750px;
    margin: auto;
}

.navbar-brand img {
    background: rgb(134, 148, 164);
}

.navbar-brand a:hover img {
    background: rgb(223, 105, 26);
}

@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

.navbar-brand a:hover img:hover {
    animation-name: spinning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: linear;
}
