---
permalink: css/theme.css
---
{% set css %}
  {% include "node_modules/bulma/css/bulma.css" %}
  {% include "node_modules/bulmaswatch/superhero/bulmaswatch.min.css" %}
  {% include "css/index.css" %}
  {% include "css/prism-base16-monokai.dark.css" %}
  {% include "css/prism-diff.css" %}
{% endset %}
{{ css | cssmin | safe }}
