---
permalink: /tags/
layout: layouts/home.njk
---
<h1 class="subtitle is-1">Tags</h1>

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <span class="tag"><a href="{{ tagUrl | url }}">#{{ tag }}</a></span>
{% endfor %}
