{#
{% for post in postslist | reverse %}
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
          <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}{{ post.url }}{% endif %}</a>
        </p>
    </header>
    <div class="card-content">
      <div class="content">
        {{ post.data.description }}
      </div>
    </div>

    <div class="card-footer">
        <div class="card-footer-item">
          <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        </div>
        <div class="card-footer-item">
          {% for tag in post.data.tags | filterTagList %}
            {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
            <span class="tag"><a href="{{ tagUrl | url }}" class="post-tag">#{{ tag }}</a></tag>
          {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
#}

{% for post in postslist | reverse %}
<div class="box">
    <a href="{{ post.url | url }}" class="subtitle">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    - <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time> -
    {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a class="tag is-link" href="{{ tagUrl | url }}">#{{ tag }}</a>
    {% endfor %}
    <div class="content"><p>{{ post.data.description }}</p></div>
</div>
{% endfor %}
</ol>
