<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link href="/css/theme.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect" >
    <link href="https://fonts.gstatic.com" rel="preconnect"  crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/site.webmanifest">

    <title>{{ title or metadata.title }} :: {{ metadata.description }} </title>

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <div class="container is-max-desktop">
      <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
              <a class="navbar-item is-size-1 has-text-weight-bold" href="{{ '/' | url }}">
                  NAUD<figure class="image"><img class="is-rounded" src="/img/favicons/android-chrome-192x192.png" alt="." title="Weee!"></figure>US
              </a>
              {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
              <div class="buttons is-hidden-mobile">
                {%- for entry in collections.all | eleventyNavigation %}
                  <a class="button {% if entry.url == page.url %}is-info{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
                {%- endfor %}
              </div>
          </div>
        </nav>
      </header>

      <main>
        {{ content | safe }}
      </main>

      <footer></footer>

      <!-- Current page: {{ page.url | url }} -->

    </div>
  </body>
</html>
