---
layout: layouts/base.njk
---

<div class="content">
  <p>Hi! My name is <b>Peter Naudus</b>. People might also know me as <b>"Farmer Pete"</b>.</p>
  <p>If you want to get in contact with me, email me at <code>peter&commat;naud&period;us</code></p>
</div>

{{ content | safe }}
