---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1 class="subtitle is-1">{{ title }}</h1>

{%- if page.url != "/about/" %}
<div class="block">
  <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time> -&nbsp;
  {%- for tag in tags | filterTagList -%}
  {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
  <span class="tag"><a href="{{ tagUrl | url }}">#{{ tag }}</a></span>
  {%- endfor %}
</div>
{%- endif %}

<div class="block content {% if page.url != "/about/" %}blog-post{% endif %}">
{{ content | safe }}
</div>

{%- if page.url != "/about/" %}
<div class="box">
I'd love to hear your thoughts! Drop me a line at
<pre>blog+{{ page.fileSlug | slugify }}&commat;naud&period;us</pre>
</div>
{%- endif %}

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
